<ion-row class="desktop-wrapper">
  <ion-col class="display-flex">
    <div class="content-container welcome-container">
      <div class="title">
        <ion-label class="code-text text-huge">under construction.</ion-label>
      </div>
    </div>
  </ion-col>
</ion-row>
<!--<ion-grid *transloco="let t">
  <div #aboutSection id="aboutSection" inViewport (inViewportAction)="handleInViewport($event)">
    <ion-row>
      <ion-col>
        <ion-header>
          <ion-toolbar class="pr-1-5">
            <ion-title class="pl-1-5">{{ t('general.personal.details.name') }}</ion-title>
            &lt;!&ndash;<ion-buttons slot="end" class="pr-0-5" [ngClass]="{'gold-button-border': showLanguages}">
              <ion-button *ngIf="showLangButton('en')" class="width-10 language-button" (click)="changeLanguage('en')">
                {{ t('general.languages.en') }}
              </ion-button>
              <ion-button *ngIf="showLangButton('es')" class="width-10 language-button" (click)="changeLanguage('es')">
                {{ t('general.languages.es') }}
              </ion-button>
              <ion-button *ngIf="showLangButton('hu')" class="width-10 language-button" (click)="changeLanguage('hu')">
                {{ t('general.languages.hu') }}
              </ion-button>
              <ion-button class="width-10 language-button m-0" (click)="toggleLanguages()">
                <img class="image-100" src="assets/icons/white_globe.svg">
              </ion-button>
            </ion-buttons>&ndash;&gt;
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="sticky-header">
    <ion-col>
      <ion-header>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="about" [class.active]="selectedTab === 'about'"
                          (click)="tabChanged('about')">
            <ion-label class="tab-text">{{ t('header.about') }}</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="services" [class.active]="selectedTab === 'projects'"
                          (click)="tabChanged('projects')">
            <ion-label class="tab-text">{{ t('header.projects') }}</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="contact" [class.active]="selectedTab === 'contact'"
                          (click)="tabChanged('contact')">
            <ion-label class="tab-text">{{ t('header.contact') }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-header>
    </ion-col>
  </ion-row>
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container welcome-container">
        <div class="title">
          <ion-label id="hello-world-animated" class="code-text text-huge">{{ t('content.about.welcome') }}<span
            id="typing-dots"></span></ion-label>
          <ion-label id="hello-world-small"
                     class="code-text text-huge">{{ t('content.about.welcome-small') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container border-left-gold">
        <div class="section">
          <ion-label class="text-normal">
            {{ t('content.about.section-1') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container border-left-gold">
        <div class="section-pb-0">
          <ion-label class="text-normal">
            {{ t('content.about.section-2') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt-1 desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container section-title">
        <div class="title">
          <ion-label class="text-title">{{ t('header.experience-services') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-1') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt-2 justify-content-center align-items-center desktop-wrapper">
    <ion-col size="12" size-md="4">
      <div class="card-container-wrapper">
        <ion-card class="outer-card">
          <div>
            <div class="card-container pb-0">
              <ion-card class="inner-card gray-border-top">
                <div class="card-image-container-pb-0">
                  <img src="assets/icons/cloud_curvy_black.svg" class="image-20"/>
                </div>
                <div>
                  <ion-card-content class="display-flex justify-content-center text-align-center">
                    {{ t('content.about.example.cloud') }}
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </div>
    </ion-col>
    <ion-col size="12" size-md="4">
      <div class="card-container-wrapper">
        <ion-card class="outer-card">
          <div>
            <div class="card-container pb-0">
              <ion-card class="inner-card gray-border-top">
                <div class="card-image-container-pb-0">
                  <img src="assets/icons/shop_curvy_black.svg" class="image-20"/>
                </div>
                <div>
                  <ion-card-content class="display-flex justify-content-center text-align-center">
                    {{ t('content.about.example.webshop') }}
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </div>
    </ion-col>
    <ion-col size="12" size-md="4">
      <div class="card-container-wrapper">
        <ion-card class="outer-card">
          <div>
            <div class="card-container pb-0">
              <ion-card class="inner-card gray-border-top">
                <div class="card-image-container-pb-0">
                  <img src="assets/icons/data_curvy_black.svg" class="image-20"/>
                </div>
                <div>
                  <ion-card-content class="display-flex justify-content-center text-align-center">
                    {{ t('content.about.example.database') }}
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-2') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <div class="content-container pt-2">
    <ion-row class="justify-content-center align-items-center desktop-wrapper-stretch">
      <ion-col size="12" size-md="4" class="skill-card">
        <div class="skill-container">
          <ion-row class="p-1">
            <ion-col class="display-flex align-items-center">
              <ion-label class="display-flex width-80">
                &lt;!&ndash;<div class="skills-characters"><</div>&ndash;&gt;
                <div class="color-gold skills-characters"><</div>
                <div class="skills-characters">/</div>
                <div class="secondary-header align-items-center">&nbsp;{{ t('general.frontend') }}</div>
              </ion-label>
              <div class="display-flex justify-content-end width-20">
                <img class="image-100" src="assets/icons/angular_solid-black.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="pl-1 pr-1 pb-1">
              <div class="border-left-gold">
                <div class="section-pb-0">
                  <ion-label class="text-big code-text">
                    {{ t('content.experience-services.skills.frontend') }}
                  </ion-label>
                </div>
              </div>
            </div>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4" class="skill-card">
        <div class="skill-container">
          <ion-row class="p-1">
            <ion-col class="display-flex align-items-center">
              <ion-label class="display-flex width-80">
                <div class="color-gold skills-characters">&</div>
                <div class="skills-characters">&</div>
                <div class="secondary-header align-items-center">&nbsp;{{ t('general.backend') }}</div>
              </ion-label>
              <div class="display-flex justify-content-end width-20">
                <img class="image-80" src="assets/icons/java-black.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="pl-1 pr-1 pb-1">
              <div class="border-left-gold">
                <div class="section-pb-0">
                  <ion-label class="text-big code-text">
                    {{ t('content.experience-services.skills.backend') }}
                  </ion-label>
                </div>
              </div>
            </div>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4" class="skill-card">
        <div class="skill-container">
          <ion-row class="p-1">
            <ion-col class="display-flex align-items-center">
              <ion-label class="display-flex width-80">
                <div class="color-gold skills-characters">.</div>
                <div class="skills-characters">|</div>
                <div class="secondary-header align-items-center">&nbsp;{{ t('content.experience-services.devops-other') }}</div>
              </ion-label>
              <div class="display-flex justify-content-end width-20">
                <img class="image-80" src="assets/icons/git_black.svg">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="pl-1 pr-1 pb-1">
              <div class="border-left-gold">
                <div class="section-pb-0">
                  <ion-label class="text-big code-text">
                    {{ t('content.experience-services.skills.devops-other') }}
                  </ion-label>
                </div>
              </div>
            </div>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
  &lt;!&ndash;<div class="content-container pt-2">

  </div>
  <div class="content-container pt-2">

  </div>&ndash;&gt;
  &lt;!&ndash;<ion-row class="pt-2">
    <ion-col class="display-flex">
      <div class="content-container border-right-gold">
        <div class="section-left text-align-end">
          <ion-label class="text-normal">
            {{ t('content.experience-services.section-3') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container border-right-gold">
        <div class="section-left-pb-0 text-align-end">
          <ion-label class="text-normal">
            {{ t('content.experience-services.section-4') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>&ndash;&gt;
  <ion-row class="desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-3') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt-1 pb-2 desktop-wrapper">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-4') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <div #projectsSection id="projectsSection" class="background-black" inViewport (inViewportAction)="handleInViewport($event)">
    <ion-row>
      <ion-col class="display-flex inner-desktop">
        <div class="content-container section-title">
          <div class="title">
            <ion-label class="text-title text-white">{{ t('header.projects-latest') }}</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="display-flex inner-desktop">
        <div class="content-container">
          <ion-label class="text-normal text-white">
            {{ t('content.projects.description-1') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="display-flex pt-1 pb-2 inner-desktop">
        <div class="content-container">
          <ion-label class="text-normal text-white">
            {{ t('content.projects.description-2') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="justify-content-center align-items-center inner-desktop" style="display: flex; align-items: stretch;">
      <ion-col size="12" size-md="4">
        <ion-card class="outer-card-black width-100 display-flex">
          <div class="same-height-cards">
            <div class="card-container">
              <ion-card class="inner-card display-flex">
                <div class="same-height-cards">
                  <div class="card-image-container">
                    <img src="assets/images/project_01.svg" class="image-50"/>
                  </div>
                  <div class="border-top-gold project-line"></div>
                  <div>
                    <ion-card-header class="pt-1">
                      <ion-card-title class="secondary-header">{{ t('content.projects.project-1.title') }}</ion-card-title>
                      <ion-card-subtitle class="secondary-text">{{ t('content.projects.devpoint') }}
                        / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                      <ion-card-subtitle class="text-italic">{{ t('content.projects.project-1.date') }}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content class="regular-text">
                      {{ t('content.projects.project-1.description') }}
                      <ion-buttons slot="end" class="width-100 pt-1">
                        <ion-button class="uppercase gold-button-border pr-0-5 pl-0-5 project-button" (click)="openProjectDetails(1)">
                          {{ t('general.buttons.details') }}
                        </ion-button>
                      </ion-buttons>
                    </ion-card-content>
                  </div>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="outer-card-black width-100 display-flex">
          <div class="same-height-cards">
            <div class="card-container">
              <ion-card class="inner-card">
                <div class="card-image-container">
                  <img src="assets/images/project_02.svg" class="image-50"/>
                </div>
                <div class="border-top-gold project-line"></div>
                <div>
                  <ion-card-header class="pt-2">
                    <ion-card-title class="secondary-header">{{ t('content.projects.project-2.title') }}</ion-card-title>
                    <ion-card-subtitle class="secondary-text">{{ t('content.projects.devpoint') }}
                      / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                    <ion-card-subtitle class="text-italic">{{ t('content.projects.project-2.date') }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="regular-text">
                    {{ t('content.projects.project-2.description') }}
                    <ion-buttons slot="end" class="width-100 pt-1">
                      <ion-button class="uppercase gold-button-border pr-0-5 pl-0-5 project-button" (click)="openProjectDetails(2)">
                        {{ t('general.buttons.details') }}
                      </ion-button>
                    </ion-buttons>
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="outer-card-black width-100 display-flex">
          <div class="same-height-cards">
            <div class="card-container">
              <ion-card class="inner-card">
                <div class="card-image-container">
                  <img src="assets/images/project_03.svg" class="image-50"/>
                </div>
                <div class="border-top-gold project-line"></div>
                <div>
                  <ion-card-header class="pt-2">
                    <ion-card-title class="secondary-header">{{ t('content.projects.project-3.title') }}</ion-card-title>
                    <ion-card-subtitle class="secondary-text">{{ t('content.projects.devpoint') }}
                      / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                    <ion-card-subtitle class="text-italic">{{ t('content.projects.project-3.date') }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="regular-text">
                    {{ t('content.projects.project-3.description') }}
                    <ion-buttons slot="end" class="width-100 pt-1">
                      <ion-button class="uppercase gold-button-border pr-0-5 pl-0-5 project-button" (click)="openProjectDetails(3)">
                        {{ t('general.buttons.details') }}
                      </ion-button>
                    </ion-buttons>
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    &lt;!&ndash;<ion-row>

    </ion-row>
    <ion-row>

    </ion-row>&ndash;&gt;
    <ion-row class="inner-desktop">
      <ion-col class="display-flex">
        <div class="content-container">
          <ion-label class="text-normal text-white">
            {{ t('content.projects.description-3') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="inner-desktop">
      <ion-col class="display-flex pt-1">
        <div class="content-container">
          <ion-label class="text-normal text-white">
            {{ t('content.projects.description-4') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="display-flex justify-content-center align-items-center pt-2 pb-2">
        <div class="content-container">
          <ion-buttons class="width-100">
            <ion-button class="uppercase gold-button-border pr-0-5 pl-0-5 project-button black-button" (click)="openEmploymentHistory()">
              {{ t('general.buttons.see-more') }}
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div #contactSection id="contactSection" inViewport (inViewportAction)="handleInViewport($event)">
    <ion-row class="desktop-wrapper">
      <ion-col class="display-flex">
        <div class="content-container welcome-container">
          <div class="title" style="width: fit-content">
            <ion-label class="code-text text-big typing-animation">{{ t('content.intro.title') }}</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="desktop-wrapper">
      &lt;!&ndash;<div class="outer-circle">&ndash;&gt;
      <ion-col class="display-flex">
        <div class="content-container pb-2">
          <div class="display-flex justify-content-center">
            <img src="assets/images/profile_picture.jpg" class="border-radius-50 inner-circle profile-picture"/>
          </div>
        </div>
      </ion-col>
      &lt;!&ndash;</div>&ndash;&gt;
    </ion-row>


    <ion-row class="pt-1 desktop-wrapper">
      <ion-col class="display-flex">
        <div class="content-container">
          <ion-label class="text-normal">
            {{ t('content.contact.section-1') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="pt-1 pb-2 desktop-wrapper">
      <ion-col class="display-flex">
        <div class="content-container">
          <ion-label class="text-normal">
            {{ t('content.contact.section-2') }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="pb-2 desktop-wrapper">
      <ion-col class="display-flex">
        <div class="content-container border-right-gold">
          <div class="section-left-pb-0 text-align-end">
            <ion-label class="text-normal">
              {{ t('content.contact.section-3') }}
            </ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    &lt;!&ndash;<ion-row class="pb-4">
      <ion-col class="display-flex">
        <div class="content-container border-left-gold">
          <div class="section-pb-0">
            <ion-label class="text-normal">
              {{ t('content.contact.section-1') }}
            </ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>&ndash;&gt;
    <ion-footer>
      <ion-toolbar>
        <ion-row class="desktop-wrapper">
          <div class="content-container display-flex">
            <ion-col class="display-flex align-items-center">
              <div class="display-flex justify-content-evenly">
                <ion-label class="text-normal">
                  {{ t('general.symbols.copyright') }} {{ t('general.personal.details.name') }} {{ t('general.year') }}
                </ion-label>
              </div>
            </ion-col>
            <ion-col class="display-flex align-items-center">
              <div class="display-flex justify-content-end width-100">
                <a class="display-flex justify-content-end align-items-center" href="https://www.linkedin.com/in/doraduszin/" target="_blank" rel="noopener noreferrer">
                  <img src="assets/icons/linkedin_white.svg" class="image-50"/>
                </a>
                <a class="display-flex justify-content-end align-items-center" href="mailto:info@doraduszin.com">
                  <img src="assets/icons/mail_white.svg" class="image-50"/>
                </a>
              </div>
            </ion-col>
          </div>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-grid>-->

