<ion-grid>
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-toolbar>
          <ion-title>Dora Duszin</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="about" [class.active]="selectedTab === 'about'"
                          (click)="tabChanged('about')">
            <ion-label>ABOUT</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="portfolio" [class.active]="selectedTab === 'portfolio'"
                          (click)="tabChanged('portfolio')">
            <ion-label>PORTFOLIO</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="services" [class.active]="selectedTab === 'services'"
                          (click)="tabChanged('services')">
            <ion-label>SERVICES</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="contact" [class.active]="selectedTab === 'contact'"
                          (click)="tabChanged('contact')">
            <ion-label>CONTACT</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img class="image" src="assets/images/cat2.jpg">
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="separator"></div>
  </ion-row>
</ion-grid>

