<ion-grid *transloco="let t">
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-toolbar class="pr-1-5">
          <ion-title class="pl-1-5">{{ t('general.personal.details.name') }}</ion-title>
          <ion-buttons slot="end" [ngClass]="{'show-languages': showLanguages}">
            <ion-button *ngIf="showLangButton('en')" class="width-10 language-button" (click)="changeLanguage('en')">
              {{ t('general.languages.en') }}
            </ion-button>
            <ion-button *ngIf="showLangButton('es')" class="width-10 language-button" (click)="changeLanguage('es')">
              {{ t('general.languages.es') }}
            </ion-button>
            <ion-button *ngIf="showLangButton('hu')" class="width-10 language-button" (click)="changeLanguage('hu')">
              {{ t('general.languages.hu') }}
            </ion-button>
            <ion-button class="width-10 language-button pr-0-5" (click)="toggleLanguages()">
              <img class="image-100" src="assets/icons/ionic/globe-outline-white.svg">
            </ion-button>
          </ion-buttons>

          <!--<ion-buttons slot="end" class="pr-1-5" style="width: 17%">
            <ion-button class="flag-icon flag-icon-gb width-50 flag-margin" *ngIf="showLangButton('en')" (click)="changeLanguage('en')">
              &lt;!&ndash;<span class="flag-icon flag-icon-gb"></span>&ndash;&gt;
            </ion-button>
            <ion-button  class="flag-icon flag-icon-es width-50 flag-margin" *ngIf="showLangButton('es')" (click)="changeLanguage('es')">
              &lt;!&ndash;<span class="flag-icon flag-icon-es"></span>&ndash;&gt;
            </ion-button>
            <ion-button class="flag-icon flag-icon-hu width-50 flag-margin" *ngIf="showLangButton('hu')" (click)="changeLanguage('hu')">
              &lt;!&ndash;<span class="flag-icon flag-icon-hu"></span>&ndash;&gt;
            </ion-button>
          </ion-buttons>-->
        </ion-toolbar>
      </ion-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="about" [class.active]="selectedTab === 'about'"
                          (click)="tabChanged('about')">
            <ion-label class="header-text">{{ t('header.about') }}</ion-label>
          </ion-tab-button>
          <!--<ion-tab-button tab="portfolio" [class.active]="selectedTab === 'portfolio'"
                          (click)="tabChanged('portfolio')">
            <ion-label class="header-text">{{ t('header.portfolio') }}</ion-label>
          </ion-tab-button>-->
          <ion-tab-button tab="services" [class.active]="selectedTab === 'projects'"
                          (click)="tabChanged('projects')">
            <ion-label class="header-text">{{ t('header.projects') }}</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="contact" [class.active]="selectedTab === 'contact'"
                          (click)="tabChanged('contact')">
            <ion-label class="header-text">{{ t('header.contact') }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container welcome-container">
        <div class="title">
          <ion-label id="hello-world-animated" class="code-text text-huge">{{ t('content.about.welcome') }}<span
            id="typing-dots"></span></ion-label>
          <ion-label id="hello-world-small"
                     class="code-text text-huge">{{ t('content.about.welcome-small') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container border-left-gold">
        <div class="section">
          <ion-label class="text-normal">
            {{ t('content.about.section-1') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container border-left-gold">
        <div class="section-pb-0">
          <ion-label class="text-normal">
            {{ t('content.about.section-2') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt-1">
    <ion-col class="display-flex">
      <div class="content-container section-title">
        <div class="title">
          <ion-label class="text-title">{{ t('header.experience-services') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pb-2">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-1') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>










  <ion-row>
    <ion-card class="outer-card">
      <div>
        <div class="card-container pb-0">
          <ion-card class="inner-card">
            <div class="card-image-container-pb-0">
              <img src="assets/icons/cloud_curvy_black.svg" class="image-20"/>
            </div>
            <div>
              <ion-card-content class="display-flex justify-content-center text-align-center">
                {{ t('content.about.example.cloud') }}
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-card>
  </ion-row>
  <!--<div class="pt-2">
    <div class="content-container display-flex justify-content-center example-container pt-1 pb-1">
      <ion-row>
        <ion-col class="display-flex">
          <div class="display-flex justify-content-center">
            <div class="title justify-content-center">
              <img class="image-20 floating gray-image-blur" src="assets/icons/cloud_curvy_black.svg">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pt-1">
        <ion-col class="display-flex justify-content-center">
          <div>
            <div class="title justify-content-center">
              <ion-label class="text-normal text-align-center width-60">{{ t('content.about.example.cloud') }}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>-->
  <div class="pt-2">
    <div class="content-container display-flex justify-content-center example-container pt-1 pb-1">
      <ion-row>
        <ion-col class="display-flex">
          <div class="display-flex justify-content-center">
            <div class="title justify-content-center">
              <img class="image-20 floating gray-image-blur" src="assets/icons/shop_curvy_black.svg">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pt-1">
        <ion-col class="display-flex justify-content-center">
          <div>
            <div class="title justify-content-center">
              <ion-label class="text-normal text-align-center width-60">{{ t('content.about.example.webshop') }}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="pt-2">
    <div class="content-container display-flex justify-content-center example-container pt-1 pb-1">
      <ion-row>
        <ion-col class="display-flex">
          <div class="display-flex justify-content-center">
            <div class="title justify-content-center">
              <img class="image-20 floating gray-image-blur" src="assets/icons/data_curvy_black.svg">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="pt-1">
        <ion-col class="display-flex justify-content-center">
          <div>
            <div class="title justify-content-center">
              <ion-label class="text-normal text-align-center width-60">{{ t('content.about.example.database') }}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-row class="pt-2">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-2') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <div class="content-container pt-2">
    <div class="skill-container">
      <ion-row class="p-1">
        <ion-col class="display-flex align-items-center">
          <ion-label class="code-text display-flex width-80">
            < <div class="color-gold">\</div> > {{ t('general.frontend') }}
          </ion-label>
          <div class="display-flex justify-content-end width-20">
            <img class="image-100" src="assets/icons/angular_solid-black.svg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="pl-1 pr-1 pb-1">
          <div class="border-left-gold">
            <div class="section-pb-0">
              <ion-label class="text-normal">
                {{ t('content.experience-services.skills.frontend') }}
              </ion-label>
            </div>
          </div>
        </div>
      </ion-row>
    </div>
  </div>
  <div class="content-container pt-2">
    <div class="skill-container">
      <ion-row class="p-1">
        <ion-col class="display-flex align-items-center">
          <ion-label class="code-text display-flex width-80">
            <div class="color-gold">&</div> & {{ t('general.backend') }}
          </ion-label>
          <div class="display-flex justify-content-end width-20">
            <img class="image-80" src="assets/icons/java-black.svg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="pl-1 pr-1 pb-1">
          <div class="border-left-gold">
            <div class="section-pb-0">
              <ion-label class="text-normal">
                {{ t('content.experience-services.skills.backend') }}
              </ion-label>
            </div>
          </div>
        </div>
      </ion-row>
    </div>
  </div>
  <div class="content-container pt-2">
    <div class="skill-container">
      <ion-row class="p-1">
        <ion-col class="display-flex align-items-center">
          <ion-label class="code-text display-flex width-80">
            <div class="color-gold">.</div> | {{ t('content.experience-services.devops-other') }}
          </ion-label>
          <div class="display-flex justify-content-end width-20">
            <img class="image-80" src="assets/icons/git_black.svg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="pl-1 pr-1 pb-1">
          <div class="border-left-gold">
            <div class="section-pb-0">
              <ion-label class="text-normal">
                {{ t('content.experience-services.skills.devops-other') }}
              </ion-label>
            </div>
          </div>
        </div>
      </ion-row>
    </div>
  </div>
  <ion-row class="pt-2">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-3') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt-1">
    <ion-col class="display-flex">
      <div class="content-container">
        <ion-label class="text-normal">
          {{ t('content.experience-services.section-4') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <!--<ion-row>
    <ion-col class="display-flex pt-4">
      <div class="content-container border-right-gold">
        <div class="section-left text-align-end">
          <ion-label class="text-normal">
            {{ t('content.about.section-4') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pb-4">
    <ion-col class="display-flex">
      <div class="content-container border-right-gold">
        <div class="section-left-pb-0 text-align-end">
          <ion-label class="text-normal">
            {{ t('content.about.section-5') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>-->
  <ion-row class="pt-2">
    <ion-col class="display-flex background-black">
      <div class="content-container section-title">
        <div class="title">
          <ion-label class="text-title text-white">{{ t('header.projects') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex background-black pt-1 pb-2">
      <div class="content-container">
        <ion-label class="text-normal text-white">
          {{ t('content.experience-services.section-4') }}
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-card class="outer-card" (click)="openProjectDetails()">
      <div class="background-black">
        <div class="card-container">
          <ion-card class="inner-card">
            <div class="card-image-container">
              <img src="assets/images/project.png" class="image-50"/>
            </div>
            <div>
              <ion-card-header class="border-top-gold pt-1">
                <ion-card-title>{{ t('content.projects.project-1.title') }}</ion-card-title>
                <ion-card-subtitle>{{ t('content.projects.devpoint') }}
                  / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                <ion-card-subtitle class="text-italic">{{ t('content.projects.project-1.date') }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ t('content.projects.project-1.description') }}
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card class="outer-card">
      <div class="background-black">
        <div class="card-container">
          <ion-card class="inner-card">
            <div class="card-image-container">
              <img src="assets/images/project.png" class="image-50"/>
            </div>
            <div>
              <ion-card-header class="border-top-gold pt-2">
                <ion-card-title>{{ t('content.projects.project-2.title') }}</ion-card-title>
                <ion-card-subtitle>{{ t('content.projects.devpoint') }}
                  / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                <ion-card-subtitle class="text-italic">{{ t('content.projects.project-2.date') }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ t('content.projects.project-2.description') }}
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card class="outer-card">
      <div class="background-black">
        <div class="card-container">
          <ion-card class="inner-card">
            <div class="card-image-container">
              <img src="assets/images/project.png" class="image-50"/>
            </div>
            <div>
              <ion-card-header class="border-top-gold pt-2">
                <ion-card-title>{{ t('content.projects.project-3.title') }}</ion-card-title>
                <ion-card-subtitle>{{ t('content.projects.devpoint') }}
                  / {{ t('content.projects.contractor') }}</ion-card-subtitle>
                <ion-card-subtitle class="text-italic">{{ t('content.projects.project-3.date') }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ t('content.projects.project-3.description') }}
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container welcome-container">
        <div class="title" style="width: fit-content">
          <ion-label class="code-text text-big typing-animation">{{ t('content.intro.title') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <!--<div class="outer-circle">-->
    <ion-col class="display-flex">
      <div class="content-container pb-2">
        <div class="display-flex justify-content-center">
          <img src="assets/images/profile_picture.jpg" class="image-100 border-radius-50 inner-circle"/>
        </div>
      </div>
    </ion-col>
    <!--</div>-->
  </ion-row>
  <ion-row class="pb-4">
    <ion-col class="display-flex">
      <div class="content-container border-left-gold">
        <div class="section-pb-0">
          <ion-label class="text-normal">
            {{ t('content.contact.section-1') }}
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <div class="content-container display-flex">
          <ion-col class="display-flex align-items-center">
            <div class="display-flex justify-content-evenly">
              <ion-label class="text-normal">
                {{ t('general.symbols.copyright') }} {{ t('general.personal.details.name') }} {{ t('general.year') }}
              </ion-label>
            </div>
          </ion-col>
          <ion-col class="display-flex align-items-center">
            <div class="display-flex justify-content-end">
              <img src="assets/icons/linkedin_white.svg" class="image-20 pr-1"/>
              <img src="assets/icons/mail_white.svg" class="image-20"/>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-toolbar>
  </ion-footer>

  <!--<ion-row>
    <ion-col class="display-flex background-black">
      <div class="content-container">
        <div class="section">
          <ion-label class="text-white text-normal">
            ASD
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>-->
  <!--<ion-row>
    <ion-col>
      <img class="image" src="assets/images/cat2.jpg">
    </ion-col>
  </ion-row>-->
  <!--<ion-row>
    <div class="separator"></div>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container">
        <div class="title">
          <ion-label class="header-text">{{ t('header.about') }}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex">
      <div class="content-container">
        <div class="section">
          {{ t('content.about.welcome') }}
        </div>
        <div class="section">
          {{ t('content.about.description') }}
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="separator"></div>
  </ion-row>
  <ion-row>
    <ion-col class="display-flex justify-content-center">
      <ion-label class="header-text">{{ t('header.portfolio') }}</ion-label>
    </ion-col>
  </ion-row>
  <div class="content-container">
    <ion-card>
      <img src="assets/images/cat3.jpg" class="image"/>
      <ion-card-header>
        <ion-card-title>Project XY</ion-card-title>
        <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="content-container">
    <ion-card>
      <img src="assets/images/cat3.jpg" class="image"/>
      <ion-card-header>
        <ion-card-title>Project XY</ion-card-title>
        <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="content-container">
    <ion-card>
      <img src="assets/images/cat3.jpg" class="image"/>
      <ion-card-header>
        <ion-card-title>Project XY</ion-card-title>
        <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
  </div>-->

  <!--<ion-row>
    <ion-col class="display-flex justify-content-center">
      <div class="content-container">

      </div>
    </ion-col>
  </ion-row>-->
</ion-grid>

