.navbar-right {
  align-items: baseline;
  justify-content: flex-end;
}

.navbar-nav > li {
  text-align: end;
}

.navbar-header {
  width: 100%;
}

.navbar-custom a {
  /*color: var(--white);*/
  color: var(--black);
}

.navbar-toggle {
  display: none;
}

/*


.navbar-toggle .icon-bar {
  background: var(--black);
}

.navbar-collapse {
  background-color: transparent !important;
}



.nav a {
  border-bottom: none !important;
  color: #000 !important;
}

.nav a:hover {
  border-bottom: none;
  color: red !important;
}

.menu-divider {
  border-right: 1px solid var(--black);
}





!* scrolled *!

.navbar-custom {
  transition: all 0.3s ease;
}

.navbar-scrolled {
  background-color: var(--white);
  box-shadow: var(--base-box-shadow);
  padding: 10px;
}

.navbar-scrolled .navbar-nav > li > a:hover {
  background-image: linear-gradient(to right, var(--color-5), var(--color-1));
  -webkit-background-clip: text;
  color: transparent !important;
}

@media (max-width: 990px) {
  .navbar-scrolled {
    background-color: var(--white);
    box-shadow: none;
    padding: 0;
  }
}

*/
