<nav class="navbar navbar-custom navbar-fixed-top" appNavbarScroll>
  <div class="container">
    <div class="navbar-header">
      <a href="#page-top" class="navbar-brand page-scroll">dD.</a>
      <ul class="nav navbar-nav navbar-right flex-center">
        <li class="hidden"><a href="#page-top"></a></li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <!--<li class="menu-divider visible-lg visible-md visible-sm">&nbsp;</li>
        <li class="dropdown"><a href="#" class="dropdown-toggle">English</a>
        &lt;!&ndash;<li class="dropdown"><a href="#" class="dropdown-toggle">English<span class="caret"></span></a>&ndash;&gt;
          &lt;!&ndash;<ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Español</a></li>
          </ul>&ndash;&gt;
        </li>-->
      </ul>
    </div>
    <div>

    </div>
  </div>
</nav>




<!--<nav class="navbar navbar-universal navbar-custom navbar-fixed-top navbar-onepage" appNavbarScroll>
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><a href="#page-top" class="navbar-brand page-scroll">
      dD.</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>
        <li>
          <a href="#">Welcome</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li class="menu-divider visible-lg">&nbsp;</li>
        <li class="dropdown"><a href="#" class="dropdown-toggle">English<span class="caret"></span></a>
          &lt;!&ndash;<ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Español</a></li>
          </ul>&ndash;&gt;
        </li>
      </ul>
    </div>
  </div>
</nav>-->
