<section>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Why Choose Us?</h3>
      </div>
    </div>
    <div class="row">
      <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn">
        <h4><i class="icon-big icon ion-ios-infinite-outline"></i> Multi-purpose</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
      </div>
      <div data-wow-delay=".4s" class="col-lg-3 col-sm-6 wow fadeIn">
        <h4><i class="icon-big ion-ios-sunny-outline"></i> Coder friendly</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
      </div>
      <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn">
        <h4><i class="icon-big ion-ios-glasses-outline"></i> Good readability</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
      </div>
      <div data-wow-delay=".8s" class="col-lg-3 col-sm-6 wow fadeIn">
        <h4><i class="icon-big ion-ios-pulse"></i> Easy to Use</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
      </div>
    </div>
  </div>
</section>
