:root {
  /* main */
  --white: #ffffff;
  --white-half-opacity: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --base-box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.1);

  --gold-color: #b88a44;
  --gold-color-overlay: rgba(184, 138, 68, 0.7);
  --black-color-overlay: rgba(0, 0, 0, 0.7);
  --light-gray-color: #f5f3f1;
  --light-gold-color: #f6f0e7;

  /* gaia */
/*  --color-1: #6cb183;
  --color-2: #5c9e9f;
  --color-3: #f3e6c6;
  --color-4: #58676d;
  --color-5: #3e7d91;
  --color-6: #537999;
  --color-1-rgba: rgba(108, 177, 131, 0.8);
  --color-2-rgba: rgba(92, 158, 159, 0.8);
  --color-3-rgba: rgba(243, 230, 198, 0.8);
  --color-4-rgba: rgba(88, 103, 109, 0.8);
  --color-5-rgba: rgba(62, 125, 145, 0.8);
  --color-6-rgba: rgba(83, 121, 153, 0.8);
  --gradient-1: linear-gradient(-45deg, var(--color-1-rgba), var(--color-2-rgba), var(--color-5-rgba), var(--color-3-rgba));*/

  /* ethereal */
  --color-1: #f38161;
  --color-2: #dae2eb;
  --color-3: #fdfdb6;
  --color-4: #ddccd0;
  --color-5: #eae2e9;
  --color-6: #c8a6b6;
  --color-1-rgba: rgba(243, 129, 97, 1);
  --color-2-rgba: rgba(218, 226, 235, 1);
  --color-3-rgba: rgba(253, 253, 182, 1);
  --color-4-rgba: rgba(221, 204, 208, 1);
  --color-5-rgba: rgba(234, 226, 233, 1);
  --color-6-rgba: rgba(200, 166, 182, 1);
  --gradient-1: linear-gradient(-45deg, var(--color-1-rgba), var(--color-2-rgba), var(--color-5-rgba), var(--color-3-rgba));
  --gradient-2: linear-gradient(-45deg, var(--color-1), var(--color-6));
  --gradient-3: linear-gradient(45deg, var(--color-6), var(--color-2));
  --gradient-4: linear-gradient(45deg, var(--color-3), var(--color-1));
  --gradient-5: linear-gradient(45deg, var(--color-2-rgba), var(--color-3-rgba));
  --gradient-6: linear-gradient(45deg, var(--color-4-rgba), var(--color-3-rgba));
  --gradient-7: linear-gradient(45deg, var(--color-5-rgba), var(--color-3-rgba));


  /*--green: #6cb183;
  --turquoise: #5c9e9f;
  --yellow: #f3e6c6;
  --gray-blue: #58676d;
  --dark-turquoise: #3e7d91;
  --blue: #537999;*/
}

body {
  margin:0;
}

section {
  padding: 0 2rem 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

h3 {
  text-align: left;
}

p {
  margin: 1rem 0 1rem 0;
}

/*.w-100 {
  width: 100%;
}*/

.row {
  padding: 6rem 0 6rem 0;
}

.row:not(:first-child) {
  padding: 0 0 6rem 0;
}

.background-black {
  background-color: var(--black);
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relative {
  position: relative;
}

.margin-0 {
  margin: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.p-0 {
  padding: 0;
}

.btn-main {
  border-radius: 4rem !important;
  padding: 2rem;
  background: var(--gradient-2);
  border: none;
  color: var(--white);
  font-size: 14px !important;
}

.btn-main:hover {
  color: var(--white);
}

.gradient-wrapper {
  background: var(--gradient-1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/*.w-100 {
  width: 100%;
}

.justify-content-start {
  justify-content: flex-start;
}*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 991px) {

  .row {
    padding: 4rem 0 4rem 0;
  }

  .row:not(:first-child) {
    padding: 0 0 4rem 0 !important;
  }

  h3 {
    text-align: center;
  }

}
