.modal-container {
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  font-size: 0.8rem
}

.list-container {
  display: flex;
}

.client-text {
  font-size: .8rem;
  font-weight: 400;
  text-transform: none;
  color: var(--gold-color);
}
