<!--<ion-content *transloco="let t">-->
<div *transloco="let t">
  <ion-toolbar>
    <ion-title>{{ t('modal.projects.details') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="width-30"(click)="close()">
        <img class="image-100" src="assets/icons/ionic/close-outline.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="modal-container">
    <ion-label class="secondary-header">{{ projectName }}</ion-label>
    <ion-label class="client-text pt-1">{{ client }}</ion-label>
    <ion-label class="text-normal pt-1 pb-1">{{ projectSummary.first }}</ion-label>
    <ion-label class="text-normal pb-1">{{ projectSummary.second }}</ion-label>
    <ion-label class="secondary-header">{{ t('modal.projects.responsibilities') }}</ion-label>
    <div class="list-container pt-1">
      <img class="image-2" src="assets/icons/list_dot_gold.svg">
      <ion-label class="text-normal pl-1">{{ tasks.first }}</ion-label>
    </div>
    <div class="list-container pt-1">
      <img class="image-2" src="assets/icons/list_dot_gold.svg">
      <ion-label class="text-normal pl-1">{{ tasks.second }}</ion-label>
    </div>
    <div class="list-container pt-1">
      <img class="image-2" src="assets/icons/list_dot_gold.svg">
      <ion-label class="text-normal pl-1">{{ tasks.third }}</ion-label>
    </div>
  </div>
</div>

<!--</ion-content>-->
