@import "~flag-icon-css/css/flag-icons.min.css";

:root {
  --gold-color: #b88a44;
  --black-color: rgba(0,0,0,0.85);
  --white-color: #ffffff;
  --light-gray-color: #f5f3f1;
  --light-gold-color: #f6f0e7;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
}

body.backdrop-no-scroll {
  overflow: hidden;
}

/* fonts and typography */

.tab-text {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.skills-characters {
  font-weight: 600;
}

.code-text {
  font-family: "Courier New";
}

.secondary-header {
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
}

.regular-text {
  font-weight: 400;
}

.secondary-text {
  color: var(--gold-color);
}

ion-title {
  font-weight: 600;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.project-button {
  font-size: 0.8rem;
  font-weight: 600;
}

.black-button {
  background: none;
  color: var(--white-color);
}

.p-1 {
  padding: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-2-5 {
  padding-top: 2.5rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-1-5 {
  padding-left: 1.5rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.pr-0-5 {
  padding-right: 0.5rem;
}

.pl-0-5 {
  padding-left: 0.5rem;
}

.flag-margin {
  margin: 0 0.5rem 0 0 !important;
}

.m-0 {
  margin: 0;
}

.border-left-gold {
  border-left: 0.1rem var(--gold-color) solid;
}

.border-right-gold {
  border-right: 0.1rem var(--gold-color) solid;
}

.border-top-gold {
  border-top: 0.1rem var(--gold-color) solid;
}

.display-flex {
  display: flex;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.content-container {
  margin: 0 3rem;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.card-image-container-pb-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-top: 1rem;
}

.welcome-container {
  padding: 2.5rem 0;
  width: 100%;
}

.section-title {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.background-black {
  background-color: var(--black-color);
}

.text-white {
  color: var(--white-color);
}

.text-light-gray {
  color: var(--light-gray-color);
}

.text-huge {
  font-size: 1.5rem;
}

.text-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.text-big {
  font-size: 0.9rem;
}

.text-normal {
  font-size: 0.8rem
}

.text-italic {
  font-style: italic;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.image-10 {
  width: 10%;
}

.image-20 {
  width: 20%;
}

.image-30 {
  width: 30%;
}

.image-40 {
  width: 40%;
}

.image-20 {
  width: 20%;
}

.image {
  width: 40%;
}

.image-50 {
  width: 50%;
}

.image-80 {
  width: 80%;
}

.image-100 {
  width: 100%;
}

.image-5 {
  width: 5%;
}

.image-2 {
  width: 2%;
}

.border-radius-50 {
  border-radius: 50%;
}

.separator {
  width: 100%;
  height: 0.2rem;
  background-color: var(--gold-color);
  margin: 2rem 1rem 2rem 1rem;
}

.title {
  /*padding: 0 0 1.5rem 0;*/
  display: flex;
  align-items: center;
}

.section {
  /*padding: 0 0 1rem 0;*/
  padding: 0 0 1rem 1rem;
}

.section-left {
  padding: 0 1rem 1rem 0;
}

.section-left-pb-0 {
  padding: 0 1rem 0 0;
}

.section-pb-0 {
  padding: 0 0 0 1rem;
}

.no-wrap {
  text-wrap: nowrap;
}

ion-toolbar {
  --background: var(--black-color);
  --color: white;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

ion-grid {
  padding: 0;
}

ion-row {
  padding: 0;
}

ion-col {
  padding: 0;
}

ion-tab-button {
  -webkit-tap-highlight-color: transparent;
}

ion-tab-button.active {
  color: var(--gold-color);
  border-bottom: 0.2rem var(--gold-color) solid;
}

ion-tab-button:hover ion-label,
ion-tab-button:active ion-label {
  color: var(--gold-color)
}

ion-card {
  margin: 0;
  border-radius: 2rem;
}

.card-container {
  padding: 0 3rem 2rem 3rem;
}

.card-gradient {
  background: linear-gradient(184deg, rgba(255,255,255,1) 0%, rgba(251,248,244,1) 57%, rgba(246,240,231,1) 100%);
}

ion-card-title {
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

ion-card-subtitle {
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 400;
  text-transform: none;
}

.card-content-md {
  font-size: 0.8rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-bottom: 2rem;
}

.card-content-ios {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-bottom: 2rem;
}

ion-card-header {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

ion-card-content {
  color: var(--black-color);
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.outer-card {
  position: relative;
  z-index: 1;
  border-radius: 0;
  box-shadow: none;
  contain: none;
}

.outer-card::after {
  content: "";
  position: absolute;
  inset: 0.5rem 2.5rem 1.5rem 3.5rem;
  border: 0.1rem linear-gradient(184deg, rgba(251,248,244,1) 0%, rgba(184,138,68,1) 100%) var(--gold-color);
  border-radius: 2rem;
  z-index: 0;
  background: linear-gradient(184deg, rgba(255,255,255,1) 0%, rgba(221,199,166,1) 100%);
}

.outer-card-black {
  position: relative;
  z-index: 1;
  border-radius: 0;
  box-shadow: none;
  contain: none;
}

.outer-card-black::after {
  content: "";
  position: absolute;
  inset: 0.5rem 2.5rem 1.5rem 3.5rem;
  border: 0.1rem linear-gradient(184deg, rgba(0,0,0,0.85) 0%, rgba(184,138,68,1) 100%) var(--gold-color);
  border-radius: 2rem;
  z-index: 0;
  background: linear-gradient(184deg, rgba(0,0,0,0.85) 0%, rgba(221,199,166,1) 100%);
}

/*.outer-card-inv {
  position: relative;
  z-index: 1;
  border-radius: 0;
  box-shadow: none;
  contain: none;
}

.outer-card-inv::after {
  content: "";
  position: absolute;
  inset: 0.5rem 2.5rem 1.5rem 3.5rem;
  border: 0.1rem linear-gradient(184deg, rgba(251,248,244,1) 0%, rgba(0,0,0,1) 100%) var(--black-color);
  border-radius: 2rem;
  z-index: 0;
  background: linear-gradient(184deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}*/

.inner-card {
  z-index: 1;
}

/*.inner-card-inv {
  z-index: 1;
  background: #f6f0e7;
}*/

.outer-circle {
  position: relative;
  z-index: 1;
  border-radius: 0;
  box-shadow: none;
  contain: none;
}

.outer-circle::after {
  content: "";
  position: absolute;
  inset: 0.5rem 2.5rem 1.5rem 3.5rem;
  border: 0.1rem  solid var(--black-color); /*linear-gradient(184deg, rgba(251,248,244,1) 0%, rgba(184,138,68,1) 100%) var(--gold-color);*/
  border-radius: 4px;
  z-index: 0;
  /*background: linear-gradient(184deg, rgba(251,248,244,1) 0%, rgba(184,138,68,1) 100%);*/
}

.inner-circle {
  z-index: 1;
}

.gray-image-blur {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 70%, rgba(221,221,221,1) 100%);
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-80 {
  width: 80%;
}

.width-100 {
  width: 100%;
}

ion-button.width-10 {
  --background: none;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;
  margin: 0 0 0 0.5rem;
  -webkit-tap-highlight-color: transparent;
}

ion-button.width-10 button {
  padding: 0;
  --box-shadow: none;
  --background: none;
}

ion-buttons {
  justify-content: flex-end;
  width: 30%;
  margin: 0;
  border: 0.1rem solid transparent;
  border-radius: 2rem;
}

.language-button {
  width: 20%;
  margin: 0;
}

ion-button.language-button {
  --background: transparent !important;
  --background-activated: transparent !important;
  --background-focused: transparent !important;
  --background-hover: transparent !important;
  --background-pressed: transparent !important;
}

.gold-button-border {
  border: 0.1rem solid var(--gold-color);
  border-radius: 2rem;
}

.example-container {
  /*background: #dddddd;*/
  background: var(--light-gold-color);
  flex-direction: column;
  border-radius: 2rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(221,221,221,0.49);
  -moz-box-shadow: 5px 5px 5px 0px rgba(221,221,221,0.49);
  box-shadow: 5px 5px 5px 0px rgba(221,221,221,0.49);
}

.skill-container {
  border: 0.1rem solid var(--black-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.color-gold {
  color: var(--gold-color);
}

.black-image-wrapper {
  background-color: var(--black-color);
  width: 40%;
  border-radius: 50%;
}

.full-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-border-top {
  border-top: 1px solid #e2e2e2;
}

.project-line {
  margin-right: 2rem;
  margin-left: 2rem;
}

ion-title {
  text-align: start;
}

ion-modal {
  --height: 92%;
  --border-radius: 2rem;
  --position: fixed;
  position: fixed;
  /*--box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);*/
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,199,166,1) 100%);
  /*--background: linear-gradient(180deg, rgba(221,199,166,1) 0%, rgba(255,255,255,0.5) 50%, rgba(221,199,166,1) 100%);*/
  --color: var(--black-color);
}

ion-modal ion-title {
  --padding-start: 1.5rem;
  --padding-end: 0;
  --padding-inline-start: 1.5rem;
  --padding-inline-end: 0;
  padding-left: 1.5rem;
  padding-right: 0;
  /*text-transform: none;*/
}

ion-modal ion-buttons {
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  --padding-inline-start: 0;
  --padding-inline-end: 1.5rem;
  padding-left: 0;
  padding-right: 1.5rem;
}

ion-modal ion-button {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

ion-button {
  -webkit-tap-highlight-color: transparent;
}

.close-button {
  width: 27%;
}

/*ion-button.button-native {
  padding: 0;
  background: white;
}

.button-solid.in-toolbar:not(.ion-color):not(.in-toolbar-color) .button-native {
  padding: 0;
  background: white;
}*/

/*ion-card-header {
  padding: 2rem 3rem;
}

ion-card-header+.card-content-md {
  padding: 0 3rem;
}*/

/*ion-card {
  border-radius: 0;
  box-shadow: none;
}

ion-card-header {
  padding: 1rem 3rem;
}

ion-card-header+.card-content-md {
  padding: 1rem 3rem 2rem 3rem;
}*/

@keyframes typingDots {
  0% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}

#typing-dots::after {
  content: '';
  animation: typingDots 2.5s steps(4) infinite;
  white-space: nowrap;
}

@keyframes floatAnimation {
  0% {
    transform: translate(0%, 0);
  }
  50% {
    transform: translate(5%, 5%);
  }
  75% {
    transform: translate(-2.5%, -2.5%);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.floating {
  animation: floatAnimation 12s ease-in-out infinite;
}

@keyframes pushAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

.pushing {
  animation: pushAnimation 12s ease-in-out infinite;
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.upDown {
  animation: upDownAnimation 12s ease-in-out infinite;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1rem var(--gold-color) solid;
  animation: typing 4s steps(10, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}

.typing-animation::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 0;
  height: 1em;
  background-color: transparent;
  animation: cursor 0.5s infinite alternate;
}

@keyframes cursor {
  from {
    background-color: orange;
  }
  to {
    background-color: transparent;
  }
}

#hello-world-animated {
  display: flex;
}

#hello-world-small {
  display: none;
}

/* extra small devices */
@media (max-width: 327px) {

  #hello-world-animated {
    display: none;
  }

  #hello-world-small {
    display: flex;
  }

  .text-huge {
    font-size: 1rem;
  }
}

/* thin 100 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/static/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('assets/fonts/static/Montserrat-ThinItalic.ttf') format('truetype');
}

/* extra light 200*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/static/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

/* regular 400 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/static/Montserrat-Italic.ttf') format('truetype');
}

/* semi bold 600 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

/* bold 700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/static/Montserrat-BoldItalic.ttf') format('truetype');
}
