@import "~flag-icon-css/css/flag-icons.min.css";

:root {
  --gold-color: #b88a44;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.header-text {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.content-container {
  margin: 0 3rem;
}

.image {
  width: 100%;
}

.separator {
  width: 100%;
  height: 0.2rem;
  background-color: var(--gold-color);
  margin: 2rem 1rem 2rem 1rem;
}

.title {
  padding: 0 0 1.5rem 0;
}

.section {
  padding: 0 0 1rem 0;
}

ion-toolbar {
  --background: #000000;
  --color: white;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

ion-grid {
  padding: 0;
}

ion-row {
  padding: 0;
}

ion-col {
  padding: 0;
}

ion-tab-button {
  -webkit-tap-highlight-color: transparent;
}

ion-tab-button.active {
  color: var(--gold-color);
  border-bottom: 0.2rem var(--gold-color) solid;
}

ion-tab-button:hover ion-label,
ion-tab-button:active ion-label {
  color: var(--gold-color)
}

/*@font-face {
  font-family: 'Gadugi';
  src: url('assets/fonts/gadugi-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gadugi';
  src: url('assets/fonts/gadugi-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gadugi';
  src: url('assets/fonts/gadugi-gras.ttf') format('truetype');
  font-weight: auto;
  font-style: normal;
}*/
