<app-navbar></app-navbar>
<app-header></app-header>
<app-about></app-about>
<div class="gradient-wrapper">
  <app-services></app-services>
  <app-stack></app-stack>
</div>

<!--<app-reasons></app-reasons>
<div style="background-color: red;">asd</div>

<div>asd</div>
<section id="multipage" class="section-small demo">
  <div class="container-fluid text-center">
    <h3>Multi page demos</h3>
    <div class="row">
      <div class="col-sm-6"><a href="indexparallax.html" target="_blank"><img src="assets/img/demo/1.jpg" alt=" " class="img-responsive center-block">
        <h6>Image parallax</h6></a></div>
      <div class="col-sm-6"><a href="indexslider.html" target="_blank"><img src="assets/img/demo/2.jpg" alt=" " class="img-responsive center-block">
        <h6>Slider parallax</h6></a></div>
      <div class="col-sm-6"><a href="indexkenburns.html" target="_blank"><img src="assets/img/demo/4.jpg" alt=" " class="img-responsive center-block">
        <h6>Ken Burns Slider</h6></a></div>
      <div class="col-sm-6"><a href="indexkenburns2.html" target="_blank"><img src="assets/img/demo/5.jpg" alt=" " class="img-responsive center-block">
        <h6>Ken Burns Slider 2</h6></a></div>
    </div>
  </div>
</section>
<div>asd</div>
<section>
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-8 col-md-offset-2">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
          <div class="panel panel-default">
            <div id="headingOne" role="tab" class="panel-heading">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How do I enable two-step verification on my account?</a></h4>
            </div>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
              <div class="panel-body">Curabitur eu condimentum quam. Vivamus leo enim, vestibulum eu sapien eu, consectetur dignissim felis. Duis non enim malesuada, vehicula In et ultrices dui, posuere dignissim lacus. Duis leo nulla, iaculis nec erat eget, efficitur scelerisque massa. Aliquam vitae risus luctus, tempus dolor ut, interdum dolor. Maecenas consectetur elit vitae nibh pretium tincidunt. Nunc vitae orci risus. Mauris a diam venenatis, maximus felis nec, faucibus lacus. Ut vestibulum elementum rutrum. Nullam cursus in arcu at scelerisque. Quisque ex massa, vulputate sit amet ante sit amet, convallis euismod ipsum. Nunc sit amet mattis nulla. Nulla maximus quis magna nec sagittis. Cras nec ligula quis ante finibus consequat. Nulla sed posuere mi. Proin cursus efficitur lorem ac imperdiet. Curabitur fringilla massa ac mattis fermentum. Quisque faucibus blandit mi, porttitor vehicula urna aliquam at.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingTwo" role="tab" class="panel-heading">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">How do I link to a file or folder?</a></h4>
            </div>
            <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
              <div class="panel-body">Curabitur eu condimentum quam. Vivamus leo enim, vestibulum eu sapien eu, consectetur dignissim felis. Duis non enim malesuada, vehicula In et ultrices dui, posuere dignissim lacus. Duis leo nulla, iaculis nec erat eget, efficitur scelerisque massa. Aliquam vitae risus luctus, tempus dolor ut, interdum dolor. Maecenas consectetur elit vitae nibh pretium tincidunt. Nunc vitae orci risus. Mauris a diam venenatis, maximus felis nec, faucibus lacus. Ut vestibulum elementum rutrum. Nullam cursus in arcu at scelerisque. Quisque ex massa, vulputate sit amet ante sit amet, convallis euismod ipsum. Nunc sit amet mattis nulla. Nulla maximus quis magna nec sagittis. Cras nec ligula quis ante finibus consequat. Nulla sed posuere mi. Proin cursus efficitur lorem ac imperdiet. Curabitur fringilla massa ac mattis fermentum. Quisque faucibus blandit mi, porttitor vehicula urna aliquam at.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingThree" role="tab" class="panel-heading">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">How do I sync files between computers?</a></h4>
            </div>
            <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
              <div class="panel-body">Curabitur eu condimentum quam. Vivamus leo enim, vestibulum eu sapien eu, consectetur dignissim felis. Duis non enim malesuada, vehicula In et ultrices dui, posuere dignissim lacus. Duis leo nulla, iaculis nec erat eget, efficitur scelerisque massa. Aliquam vitae risus luctus, tempus dolor ut, interdum dolor. Maecenas consectetur elit vitae nibh pretium tincidunt. Nunc vitae orci risus. Mauris a diam venenatis, maximus felis nec, faucibus lacus. Ut vestibulum elementum rutrum. Nullam cursus in arcu at scelerisque. Quisque ex massa, vulputate sit amet ante sit amet, convallis euismod ipsum. Nunc sit amet mattis nulla. Nulla maximus quis magna nec sagittis. Cras nec ligula quis ante finibus consequat. Nulla sed posuere mi. Proin cursus efficitur lorem ac imperdiet. Curabitur fringilla massa ac mattis fermentum. Quisque faucibus blandit mi, porttitor vehicula urna aliquam at.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="heading5" role="tab" class="panel-heading">
              <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed">How do I share folders with other people?</a></h4>
            </div>
            <div id="collapse5" role="tabpanel" aria-labelledby="heading5" class="panel-collapse collapse">
              <div class="panel-body">Curabitur eu condimentum quam. Vivamus leo enim, vestibulum eu sapien eu, consectetur dignissim felis. Duis non enim malesuada, vehicula In et ultrices dui, posuere dignissim lacus. Duis leo nulla, iaculis nec erat eget, efficitur scelerisque massa. Aliquam vitae risus luctus, tempus dolor ut, interdum dolor. Maecenas consectetur elit vitae nibh pretium tincidunt. Nunc vitae orci risus. Mauris a diam venenatis, maximus felis nec, faucibus lacus. Ut vestibulum elementum rutrum. Nullam cursus in arcu at scelerisque. Quisque ex massa, vulputate sit amet ante sit amet, convallis euismod ipsum. Nunc sit amet mattis nulla. Nulla maximus quis magna nec sagittis. Cras nec ligula quis ante finibus consequat. Nulla sed posuere mi. Proin cursus efficitur lorem ac imperdiet. Curabitur fringilla massa ac mattis fermentum. Quisque faucibus blandit mi, porttitor vehicula urna aliquam at.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>asd</div>
&lt;!&ndash; Contact Section&ndash;&gt;
<section id="contact">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-8">
        <h3>contact us</h3>
        <p>Feel free to contact us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      </div>
      <div class="col-md-4">
        <h3>Say hello</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convall.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        &lt;!&ndash; Map Section&ndash;&gt;
        <div id="map"></div>
        <p></p>
      </div>
      <div class="col-md-4">
        &lt;!&ndash; Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!&ndash;&gt;
        <form id="contactForm" name="sentMessage" novalidate="">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="name" class="sr-only control-label">You Name</label>
              <input id="name" type="text" placeholder="You Name" required="" data-validation-required-message="Please enter name" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="email" class="sr-only control-label">You Email</label>
              <input id="email" type="email" placeholder="You Email" required="" data-validation-required-message="Please enter email" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="phone" class="sr-only control-label">You Phone</label>
              <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="message" class="sr-only control-label">Message</label>
              <textarea id="message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message." aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
            </div>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-dark btn-lg">Send</button>
        </form>
        <hr>
        <p><i class="fa fa-phone fa-fw fa-lg"></i> (123) 456-7890 <br> <i class="fa fa-envelope fa-fw fa-lg"></i> youwebsite.com <br> <i class="fa fa-map-marker fa-fw fa-lg"></i> 2345 Some Avenue, New York
        </p>
      </div>
    </div>
  </div>
</section>
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>-->
