.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.intro-body {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.scroll-btn {
  z-index: 2;
}

.overlay {
  background: var(--black-color-overlay);;
}

.bg-img3 {
  background: url(../../../assets/images/banner_6.png);
}

