<div class="container">
  <div class="content-wrapper">
    <div class="logo-container">
      <img src="assets/images/logo.svg" alt="Logo" class="logo">
    </div>
    <!-- TODO: refactor it into separate, changeable center content -->
    <div class="header-content">
      <h1 class="fade-in-down">Dora Duszin</h1>
      <h4 class="fade-in-down pb-3">Freelance Software Developer</h4>
      <div class="line fade-in"></div>
    </div>
    <div class="header-content flex-row pt-10 service-wrapper">
      <div class="service-carousel">
        <div class="service">
          <label class="label fade-in-up">web development.&nbsp;</label>
          <i class="icon icon-big ion-code gradient-icon-2 fade-in-up"></i>
        </div>
        <div class="service">
          <label class="label fade-in-up">software acquisition.&nbsp;</label>
          <i class="icon icon-big ion-ios-cloud-download gradient-icon-3 fade-in-up"></i>
        </div>
        <div class="service">
          <label class="label fade-in-up">consulting.</label>
          <i class="icon icon-big ion-chatbubbles gradient-icon-4 fade-in-up"></i>
        </div>
      </div>
    </div>
    <!-- TODO: refactor it into separate, changeable center content -->
    <div class="word-wrapper">
      <h3>Transparency</h3>
      <h3 class="gradient-text-1">Trust</h3>
      <h3>Reliability</h3>
      <h3 class="gradient-text-2">Quality</h3>
    </div>
  </div>
</div>
