<section id="services">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Services</h3>
      </div>
    </div>
    <div class="row cards">
      <div data-wow-delay=".4s" class="col-lg-3 col-sm-6 wow fadeIn card">
        <div class="service-wrapper">
          <h4><i class="icon icon-big ion-android-color-palette gradient-icon-1"></i> Design</h4>
          <p>Turn your ideas into intuitive designs that captivate and retain your audience</p>
        </div>
      </div>
      <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn card">
        <div class="service-wrapper">
          <h4><i class="icon icon-big ion-code gradient-icon-2"></i> Development</h4>
          <p>Get custom-built and scalable solutions that keep your business running smoothly</p>
        </div>
      </div>
      <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn card">
        <div class="service-wrapper">
          <h4><i class="icon icon-big ion-ios-cloud-download gradient-icon-3"></i> Acquisition</h4>
          <p>Simplify the software selection process so you can focus on what matters</p>
        </div>
      </div>
      <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn card">
        <div class="service-wrapper">
          <h4><i class="icon icon-big ion-chatbubbles gradient-icon-4"></i> Consulting</h4>
          <p>Get tailored advice that transforms challenges into growth opportunities</p>
        </div>
      </div>
    </div>
  </div>
</section>
