<section id="team" class="bg-gray text-center profile-wrapper">
  <div class="container wow fadeIn">
    <div class="row flex-center">
      <div class="col-md-4 col-sm-12 profile-border">
        <img src="../../../../../assets/images/profile_picture.jpg" alt="" class="img-responsive center-block">
      </div>
      <!--<div class="col-md-6 col-sm-12 flex-center w-100">
        <p>My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries.</p>
      </div>-->
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row flex-center w-100">
      <div class="col-lg-12">
        <h3>Contact</h3>
      </div>
    </div>
    <div class="row flex-center w-100">
      <div class="col-lg-12">
        <p>Let's discuss how my expertise can help your business grow!</p>
        <p>You can find me on LinkedIn and Upwork, or you can directly send me an e-mail and I will get back to you as soon as possible.</p>
      </div>
    </div>
    <div class="row flex-center w-100">
      <div class="col-lg-1 flex-center">
        <!--<a href="https://www.linkedin.com/in/doraduszin/"><i class="fa fa-linkedin fa-fw"></i></a>-->
        <a href="https://www.linkedin.com/in/doraduszin/">
          <img src="../../../../../assets/images/LinkedIn_icon.svg" alt="" class="img-responsive upwork-image">
        </a>
      </div>
      <div class="col-lg-1 flex-center icon-margin">
        <a href="mailto:doraduszin@gmail.com">
          <img src="../../../../../assets/images/Gmail_icon_(2020).svg" alt="" class="img-responsive upwork-image">
        </a>
      </div>
      <div class="col-lg-1 flex-center p-0">
        <a href="https://www.upwork.com/freelancers/~011efcae89d92d9ccb">
          <img src="../../../../../assets/images/upwork.svg" alt="" class="img-responsive upwork-image">
        </a>
      </div>
    </div>
    <!--<div class="row flex-center w-100">
      <div class="col-md-4">
        &lt;!&ndash; Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!&ndash;&gt;
        <form id="contactForm" name="sentMessage" novalidate="">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="name" class="sr-only control-label">Name</label>
              <input id="name" type="text" placeholder="Name" required="" data-validation-required-message="Please enter name" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="email" class="sr-only control-label">E-mail</label>
              <input id="email" type="email" placeholder="Email" required="" data-validation-required-message="Please enter email" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          &lt;!&ndash;<div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="phone" class="sr-only control-label">You Phone</label>
              <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number" class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>&ndash;&gt;
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="message" class="sr-only control-label">Message</label>
              <textarea id="message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message." aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
            </div>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-lg btn-main">Send Message</button>
        </form>
        <hr>
        <p><i class="fa fa-phone fa-fw fa-lg"></i> (123) 456-7890 <br> <i class="fa fa-envelope fa-fw fa-lg"></i> youwebsite.com <br> <i class="fa fa-map-marker fa-fw fa-lg"></i> 2345 Some Avenue, New York
        </p>
      </div>
    </div>-->
  </div>
</section>
