<header class="intro intro-fullscreen background-black">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 class="no-pad"><span class="rotate">
                  coming soon</span></h1>
          <!--<ul class="list-inline">
            <li><a href="mailto:doraduszin@gmail.com"><i class="fa fa-envelope-o fa-fw fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/doraduszin/"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
          </ul>-->
          <p class="small"><a href="https://doraduszin.com">2024 <i class="fa fa-copyright"></i> DORA DUSZIN <i
            class="fa fa-terminal"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</header>
