.header-container {
  background: linear-gradient(45deg, #b59f7d, #b59f7d, #ffffff, #b59f7d, #b59f7d);
/*  background: linear-gradient(45deg, #ffffff, #b59f7d, #b59f7d, #ffffff);*/
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 .25em rgba(0, 0, 0, .35);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--black-color);
  width: 100%;
}


/*
.header-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #b88a44 50%, #ffffff 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 .25em rgba(0, 0, 0, .35);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--black-color);
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
*/
