<div class="header-container">
  <div class="header-content-wrapper">
    <div class="header-content">
      <h1 class="margin-0 fade-in-down">Dora Duszin</h1>
      <h4 class="margin-0 fade-in-up pb-3">Freelance Software Developer</h4>
      <div class="line"></div>
    </div>
    <div class="header-content flex-row pt-3">
      <label class="margin-0 fade-in-up">web development.&nbsp;</label>
      <label class="margin-0 fade-in-up">software acquisition.&nbsp;</label>
      <label class="margin-0 fade-in-up">consulting.</label>
    </div>
  </div>
  <div class="header-content-wrapper">
    <div class="word-wrapper">
      <h3>Transparency</h3>
      <h3 class="gradient-text-1">Trust</h3>
      <h3>Reliability</h3>
      <h3 class="gradient-text-2">Quality</h3>
    </div>
  </div>
</div>










<!--<div class="scanlines"></div>

<div class="intro-wrap">
  <div class="header-container">
    <div class="header-content-wrapper">
      <div class="header-content flex-col">
        <h1 class="margin-0 fade-in-down">Dora Duszin</h1>
        <h4 class="margin-0 fade-in-up">Freelance Software Developer</h4>
      </div>
      <div class="header-content flex-row pt-1">
        <label class="margin-0 fade-in-up">web development.&nbsp;</label>
        <label class="margin-0 fade-in-up">software acquisition.&nbsp;</label>
        <label class="margin-0 fade-in-up">consulting.</label>
      </div>
    </div>
    <div class="header-content-wrapper">
      <div class="word-wrapper">
        <h3>Transparency</h3>
        <h3 class="gradient-text-1">Trust</h3>
        <h3>Reliability</h3>
        <h3 class="gradient-text-2">Quality</h3>
      </div>
    </div>
  </div>


  &lt;!&ndash;<div class="noise"></div>
  <div class="noise noise-moving"></div>

  <div class="play">asd</div>
  <div class="time">&#45;&#45;:&#45;&#45;</div>
  <div class="recordSpeed">SLP 0:00:00</div>&ndash;&gt;
</div>-->






<!--<section id="about">
  <div class="container">
    <div class="row flex-center w-100">
      <div class="col-lg-12">
        <h3>About</h3>
      </div>
    </div>
  </div>
</section>-->

<!--
<header class="header-container">
  &lt;!&ndash;<div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>&ndash;&gt;
  <div class="row flex-center w-100">
    <div class="col-lg-12">
      <div class="content">
        <h1 class="margin-0 fade-in-down">Dora Duszin</h1>
        <h4 class="margin-0 fade-in-up">Freelance Software Developer</h4>
      </div>
    </div>
  </div>
  &lt;!&ndash;<div class="content">
    <h1 class="margin-0 fade-in-down">Dora Duszin</h1>
    <h4 class="margin-0 fade-in-up">Freelance Software Developer</h4>
  </div>&ndash;&gt;
</header>
-->
