<section id="about">
  <div class="container">
    <div class="row flex-center w-100">
      <div class="col-lg-12">
        <h3>About</h3>
      </div>
    </div>
    <div class="row flex-center w-100">
      <div class="col-lg-12">
        <p>My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries.</p>
        <p>I specialize in full-stack web development, delivering high-quality and reliable software using the latest technologies.</p>
        <p>I'm based in Valencia, Spain - but have had the opportunity to cooperate with many international teams across Europe.</p>
      </div>
    </div>
    <div class="row flex-center w-100 pb-0">
      <div class="col-lg-12">
        <a href="#contact" class="btn btn-main">Let's connect!</a>
      </div>
    </div>
    <div class="row flex-center w-100">
      <div class="col-lg-6 col-sm-12 word-wrapper">
        <h3>Transparency</h3>
        <h3 class="gradient-text-1">Trust</h3>
        <h3>Reliability</h3>
        <h3 class="gradient-text-2">Quality</h3>
      </div>
      <div class="col-lg-6 col-sm-12 flex-end relative">
        <i id="java" class="icon icon-big devicon-java-plain colored"></i>
        <i id="csharp" class="icon icon-big devicon-csharp-plain colored"></i>
        <i id="kotlin" class="icon icon-big devicon-kotlin-plain colored"></i>

        <i id="angular" class="icon icon-big devicon-angularjs-plain colored"></i>
        <i id="react" class="icon icon-big devicon-react-original colored"></i>
        <i id="typescript" class="icon icon-big devicon-typescript-plain colored"></i>

        <i id="spring" class="icon icon-big devicon-spring-original colored"></i>
        <i id="dotnetcore" class="icon icon-big devicon-dotnetcore-plain colored"></i>

        <i id="docker" class="icon icon-big devicon-docker-plain colored"></i>
        <i id="kubernetes" class="icon icon-big devicon-kubernetes-plain colored"></i>

        <img src="../../../../../assets/img/misc/6.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>
<!--<section id="team" class="bg-gray text-center profile-wrapper">
  <div class="container wow fadeIn">
    <div class="row flex-center">
      <div class="col-md-4 col-sm-12 profile-border">
        <img src="../../../../../assets/images/profile_picture.jpg" alt="" class="img-responsive center-block">
      </div>
      <div class="col-md-6 col-sm-12 flex-center w-100">
        <p>My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries. My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries.</p>
      </div>
    </div>
  </div>
</section>-->
