<section id="about">
  <div class="container">
    <div class="row flex-center">
      <div class="col-lg-6">
        <h3>Nice to meet you</h3>
        <p>My name is Dora Duszin, I'm a freelance software developer with over 7 years of experience across diverse industries.</p>
        <p>I specialize in full-stack web development, delivering high-quality and reliable software using the latest technologies.</p>
        <p>I'm based in Valencia, Spain - but have had the opportunity to cooperate with many international teams across Europe.</p>
      </div>
      <div class="col-lg-6 img-wrapper">
        <img src="../../../../../assets/img/misc/2.png" alt="" class="img-responsive center-block">
      </div>
    </div>
    <div class="row flex-center">
      <div class="col-lg-12">
        <a href="" class="btn btn-dark">Let's connect!</a>
      </div>
    </div>
  </div>
</section>

<!--<section id="welcome">
  <div class="container">
    <div class="row flex-center">
      <div class="col-lg-5">

      </div>
      <div class="col-lg-6 col-lg-offset-1">
        <img id="screen" src="assets/img/misc/2.png" alt="" class="img-responsive center-block">
      </div>
    </div>
  </div>
</section>-->
